@font-face {
    font-display: swap;
    font-family: "Inter Variable";
    src:
        url(./Inter-Variable.woff2) format("woff2 support variations"),
        url(./Inter-Variable.woff2) format("woff2-variations");
    font-weight: 410 715;
}

@font-face {
    font-display: swap;
    font-family: "Press Start 2P";
    src:
        local("Press Start 2P"),
        url(./PressStart2P-Regular.woff) format("woff2");
    font-weight: 400;
}
