:root {
    --main-font: "Inter Variable";
    --accent-font: "Press Start 2P";
    --h-weight: 715;
    --p-weight: 410;
    --block-size: clamp(375px, 50%, 700px);
    --block-background: #fff;
    --block-border: 2px solid #000000;
    --header-padding: clamp(7.5rem, 7.2831rem + 0.9355vw, 8.125rem);
    --header-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-description-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --card-title-padding: 4px 10px;
    --background-gradient:
        repeating-linear-gradient(
            to right,
            #d3d3d3 0px 2px,
            transparent 2px 4px
        ),
        repeating-linear-gradient(
            to bottom,
            #d3d3d3 0px 2px,
            transparent 2px 4px
        ),
        repeating-linear-gradient(
            to bottom,
            #e7e7e7 0%,
            #e7e7e7 0.1%,
            #1a1a1a 100%
        );
}
